<section id="actions" class="py-4 mb-4 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a
					class="btn btn-primary btn-block"
					data-bs-toggle="modal"
					data-bs-target="#agregarClienteModal"
					><i class="fas fa-plus"></i> Agregar Cliente</a
				>
			</div>
		</div>
	</div>
</section>

<section id="clientes">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h4>Listado de Clientes</h4>
					</div>
					<table class="table table-striped">
						<thead class="table-dark">
							<tr>
								<th>#</th>
								<th>Nombre</th>
								<th>Saldo</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let cliente of clientes; let i = index">
								<td>{{ i + 1 }}</td>
								<td>
									{{ cliente.nombre }} {{ cliente.apellido }}
								</td>
								<td>
									{{ cliente.saldo | currency: 'MXN':'$' }}
								</td>
								<td>
									<a
										routerLink="/cliente/editar/{{
											cliente.id
										}}"
										class="btn btn-secondary"
										><i
											class="fas fa-angle-double-right"
										></i>
										Editar</a
									>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card text-center bg-danger text-white mb-3">
					<div class="card-body">
						<h3>Saldo total</h3>
						<h4 class="display-4">
							{{ getSaldoTotal() | currency: 'MXN':'$' }}
						</h4>
					</div>
				</div>

				<div class="card text-center bg-success text-white mb-3">
					<div class="card-body">
						<h3>Total Clientes</h3>
						<h4 class="display-4">
							<i class="fas fa-users"></i> {{ clientes?.length }}
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="agregarClienteModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info text-white">
				<h5 class="modal-title">Agregar Cliente</h5>
				<button
					class="btn-close"
					data-bs-dismiss="modal"
					#botonCerrar
				></button>
			</div>

			<flash-messages></flash-messages>

			<form (submit)="agregar(clienteForm)" #clienteForm="ngForm">
				<div class="modal-body">
					<div class="mb-3">
						<label for="nombre">Nombre:</label
						><input
							type="text"
							name="nombre"
							class="form-control"
							[(ngModel)]="cliente.nombre"
							#nombre="ngModel"
							[ngClass]="{
								'is-invalid': nombre.errors && nombre.touched
							}"
							required
							minlength="2"
						/>
						<div
							class="invalid-feedback"
							[hidden]="!nombre.errors?.required"
						>
							Nombre requerido
						</div>
						<div
							class="invalid-feedback"
							[hidden]="!nombre.errors?.minlength"
						>
							Debe contener al menos 2 caracteres
						</div>
					</div>
					<div class="mb-3">
						<label for="apellido">Apellido:</label
						><input
							type="text"
							name="apellido"
							class="form-control"
							[(ngModel)]="cliente.apellido"
							#apellido="ngModel"
							[ngClass]="{
								'is-invalid':
									apellido.errors && apellido.touched
							}"
							required
							minlength="2"
						/>
						<div
							class="invalid-feedback"
							[hidden]="!apellido.errors?.required"
						>
							Apellido requerido
						</div>
						<div
							class="invalid-feedback"
							[hidden]="!apellido.errors?.minlength"
						>
							Debe contener al menos 2 caracteres
						</div>
					</div>
					<div class="mb-3">
						<label for="email">E-mail:</label
						><input
							type="email"
							name="email"
							class="form-control"
							[(ngModel)]="cliente.email"
							#email="ngModel"
							[ngClass]="{
								'is-invalid': email.errors && email.touched
							}"
							required
							pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
						/>
						<div
							class="invalid-feedback"
							[hidden]="!email.errors?.required"
						>
							E-mail requerido
						</div>
						<div
							class="invalid-feedback"
							[hidden]="!email.errors?.pattern"
						>
							El e-mail no es valido
						</div>
					</div>
					<div class="mb-3">
						<label for="saldo">Saldo:</label
						><input
							type="number"
							name="saldo"
							class="form-control"
							[(ngModel)]="cliente.saldo"
							#saldo="ngModel"
							[ngClass]="{
								'is-invalid': saldo.errors && saldo.touched
							}"
							required
						/>
						<div
							class="invalid-feedback"
							[hidden]="!saldo.errors?.required"
						>
							Saldo requerido
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="submit">
						Guardar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
