<header id="main-header" class="py-2 bg-info text-white">
	<div class="container row col-md-6">
		<h1><i class="fas fa-user"></i> Sign In</h1>
	</div>
</header>

<section id="actions" class="py-4 mb-4 bg-light">
	<div class="container">
		<div class="row"></div>
	</div>
</section>

<flash-messages></flash-messages>

<section id="registro">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-header">
						<h4>Sign In</h4>
					</div>
					<div class="card-body">
						<form (submit)="signin()" class="mb-3">
							<div class="mb-3">
								<label for="email">E-mail</label
								><input
									type="email"
									name="email"
									class="form-control"
									[(ngModel)]="email"
									required
								/>
							</div>
							<div class="mb-3">
								<label for="password">Password</label
								><input
									type="password"
									name="password"
									class="form-control"
									[(ngModel)]="password"
									required
								/>
							</div>
							<input
								type="submit"
								value="Sign In"
								class="btn btn-primary btn-block"
							/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
