<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
	<div class="container-fluid">
		<a routerLink="/" class="navbar-brand">Control Clientes</a>
		<button
			class="navbar-toggler ml-auto"
			data-bs-toggle="collapse"
			data-bs-target="#navbarCollapse"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse me-4" id="navbarCollapse">
			<ul *ngIf="isLoggedIn" class="navbar-nav">
				<li class="nav-item px-2">
					<a routerLink="/" class="nav-link">Inicio</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto">
				<li *ngIf="isLoggedIn" class="nav-item dropdown mr-3">
					<a
						href="#"
						class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"
						><i class="fas fa-user"></i> Bienvenido
						{{ logggedInUser }}</a
					>
					<div class="dropdown-menu">
						<a routerLink="/configuracion" class="dropdown-item"
							><i class="fas fa-cog"></i> Configuración</a
						>
					</div>
				</li>

				<li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item">
					<a
						routerLink="/login"
						class="nav-link"
						routerLinkActive="router-link-active"
						><i class="fas fa-user"></i> Log In</a
					>
				</li>

				<li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item">
					<a
						routerLink="/signin"
						class="nav-link"
						routerLinkActive="router-link-active"
						><i class="fas fa-user"></i> Sign In</a
					>
				</li>

				<li *ngIf="isLoggedIn" class="nav-item">
					<a
						style="cursor: pointer"
						(click)="logout()"
						class="nav-link"
						><i class="fas fa-user-times"></i> Log Out</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
