<header id="main-header" class="py-2 bg-info text-white">
	<div class="container row col-md-6">
		<h1><i class="fas fa-user"></i> Editar Cliente</h1>
	</div>
</header>

<form (submit)="guardar(clienteForm)" #clienteForm="ngForm">
	<flash-messages></flash-messages>

	<section id="actions" class="py-4 mb-4 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<a routerLink="/" class="btn btn-ligth btn-block"
						><i class="fas fa-arrow-left"></i> Regresar al Inicio</a
					>
				</div>
				<div class="col-md-3">
					<button type="submit" class="btn btn-success btn-block">
						<i class="fas fa-check"></i> Guardar Cliente
					</button>
				</div>
				<div class="col-md-3">
					<a
						href="#"
						class="btn btn-danger btn-block"
						(click)="eliminar()"
						><i class="fas fa-trash"></i> Eliminar Cliente</a
					>
				</div>
			</div>
		</div>
	</section>

	<section id="details">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<h4>Editar Cliente</h4>
						</div>
						<div class="card-body">
							<div class="mb-3">
								<label for="nombre">Nombre:</label
								><input
									type="text"
									name="nombre"
									class="form-control"
									[(ngModel)]="cliente.nombre"
									#nombre="ngModel"
									[ngClass]="{
										'is-invalid':
											nombre.errors && nombre.touched
									}"
									required
									minlength="2"
								/>
								<div
									class="invalid-feedback"
									[hidden]="!nombre.errors?.required"
								>
									Nombre requerido
								</div>
								<div
									class="invalid-feedback"
									[hidden]="!nombre.errors?.minlength"
								>
									Debe contener al menos 2 caracteres
								</div>
							</div>
							<div class="mb-3">
								<label for="apellido">Apellido:</label
								><input
									type="text"
									name="apellido"
									class="form-control"
									[(ngModel)]="cliente.apellido"
									#apellido="ngModel"
									[ngClass]="{
										'is-invalid':
											apellido.errors && apellido.touched
									}"
									required
									minlength="2"
								/>
								<div
									class="invalid-feedback"
									[hidden]="!apellido.errors?.required"
								>
									Apellido requerido
								</div>
								<div
									class="invalid-feedback"
									[hidden]="!apellido.errors?.minlength"
								>
									Debe contener al menos 2 caracteres
								</div>
							</div>
							<div class="mb-3">
								<label for="email">E-mail:</label
								><input
									type="email"
									name="email"
									class="form-control"
									[(ngModel)]="cliente.email"
									#email="ngModel"
									[ngClass]="{
										'is-invalid':
											email.errors && email.touched
									}"
									required
									pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
								/>
								<div
									class="invalid-feedback"
									[hidden]="!email.errors?.required"
								>
									E-mail requerido
								</div>
								<div
									class="invalid-feedback"
									[hidden]="!email.errors?.pattern"
								>
									El e-mail no es valido
								</div>
							</div>
							<div class="mb-3">
								<label for="saldo">Saldo:</label
								><input
									type="number"
									name="saldo"
									class="form-control"
									[(ngModel)]="cliente.saldo"
									#saldo="ngModel"
									[ngClass]="{
										'is-invalid':
											saldo.errors && saldo.touched
									}"
									required
								/>
								<div
									class="invalid-feedback"
									[hidden]="!saldo.errors?.required"
								>
									Saldo requerido
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
